@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');

* {
	box-sizing: border-box;
}
body{
	letter-spacing: 0.01em;
	color: #fff;
}


/* Layout */
.vk-container{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1800px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	border: 1px solid  #DAE6EF;
	height: 40px;
	color: #fff;
	background: #5474FD ;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 20px;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	background: #fff;
	color: #5474FD;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

.vk-intro {
	background: url('../img/blue.jpg') no-repeat 50% / cover;
	height: 100%;
	margin-bottom: -20px;
	padding: 271px 0 120px;
}
.vk-form {
	margin: 0 auto;
	font-family: JosefinSans;
	color: #999999;
	font-size: 14px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
	width: 653px;
}
.vk-title {
	font-family: JosefinSans;
	color: #ffffff;
	font-size: 48px;
	font-weight: 700;
	line-height: 26px;
	text-align: center;
}
.vk-subtitle {
	font-family: JosefinSans;
	color: #ffffff;
	font-size: 22px;
	font-weight: 400;
	line-height: 26px;
	text-align: center;
}

.vk-scroll {
	font-family: JosefinSans;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	text-align: center;
}
.vk-menu {
	height: 80px;
	background: #5474FD;
}
.vk-menu__bhromaon {
	font-family: JosefinSans;
	color:  #fff;
	font-size: 24px;
	font-weight: 700;
	margin-left: 330px;
}
ul {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	margin-right: 332px;
}

li {
	padding-left: 41px;
	padding-right: 0;
	vertical-align: center;
}

.vk-choose {
	padding: 5px 205px 134px 330px;
	height: 100%;
	background: url('../img/background.jpg') no-repeat 50% / cover;
	display: flex;
	position:

}
.vk-col6 {
	display: flex;
	flex-direction: column;
	width: 50%;
	flex-basis: 300px;
	flex-wrap: wrap;
}

.vk-search {
	height: 339px;
	background: #333333;
	display: flex;
	align-items: center;
	margin: 0;
	padding-left: 330px;
	padding-right: 332px;
}

.vk-search__col4 {
	width: 33.3%;
}
.vk-spain {
	height: 703px;
	background: url('../img/house.jpg') no-repeat 50% / cover;
	display: flex;
	justify-content: flex-start;
}

.vk-spain__grand {
	float: left;
	width: 50%;
	padding: 230px 30px 101px 330px;
}

.vk-madrid {
	height: 703px;
	background: url('../img/sunset.jpg') no-repeat 50% / cover;
	display: flex;
	justify-content: flex-end;
}

.vk-madrid__grand {
	float: right;
	width: 50%;
	padding: 231px 332px 101px 30px;
}
.vk-tourist {
	margin-top: -20px;
	height: 733px;
	background: url('../img/background-man.jpg') no-repeat 50% / cover;

	padding-left: 330px;
	padding-right: 332px;
}
.vk-sam {
	display: flex;
    justify-content: flex-end;
    }
.vk-before:before{
    content: " “ ";
    font-size: 46px;
    text-align: left;
    font-style: italic;
    color: blue;
}

.vk-nav {
	margin-top: -20px;
	padding-left: 20px;
	padding-right: 20px;
	height: 267px;
	background: #000;
}

